<!doctype>
<html>
	<head>	
		<link rel="stylesheet" href="lib/css/bootstrap.min.css">
		<link rel="stylesheet" href="public/css/style.css">
	</head>
	<body>
		<div id="appContainer" class="container">
			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">Home</a></li>
			  <li role="presentation"><a href="#create">Create new contact</a></li>
			</ul>
			<div id="contentContainer">
			</div>
		</div>

		<!-- -->
			<script type="text/template" id="ContactView">
				<div class="col-md-4">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<div>Name    : <%= title %>. <%= first_name %> <%= last_name %></div>
					  	<div>Contact : <%= contact_num %></div>
					  	<div>Email   : <%= email %></div>
					  </div>
					</div>
				</div>
			</script>

			<script type="text/template" id="newContact">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-body">
					  	<div class="form-group">
					  		<label for="title" class="col-md-5">Title       : </label>
					  		<input type="text" name="title" id="title" class="col-md-7">
					  	</div>
					  	<div class="form-group">
					  		<label for="first_name" class="col-md-5">First Name  : </label>
					  		<input type="text" name="first_name" id="first_name" class="col-md-7">
					  	</div>
					  	<div class="form-group">
					  		<label for="last_name" class="col-md-5">Last Name   : </label>
					  		<input type="text" name="last_name" id="last_name" class="col-md-7">
					  	</div>
					  	<div class="form-group">
					  		<label for="contact_num" class="col-md-5">Contact Num : </label>
					  		<input type="text" name="contact_num" id="contact_num" class="col-md-7">
					  	</div>
					  	<div class="form-group">
					  		<label for="email" class="col-md-5">Email       : </label>
					  		<input type="text" name="email" id="email"  class="col-md-7">
					  	</div>
					  	<div class="col-md-12"><input type="submit" id="savenewcontact"></div>
					  </div>
					</div>
				</div>
			</script>
		<!-- -->

		<script src="lib/js/jquery.min.js"></script>
		<script src="lib/js/underscore-min.js"></script>
		<script src="lib/js/backbone-min.js"></script>
		<script src="lib/js/bootstrap.min.js"></script>
		<script src="public/js/app.js"></script>
	</body>
</html>